@import "tailwindcss";

:root {
  --background: #fff;
  --dark-background: #171717;
  --header: #C7ECF7;
  --footer: #C7ECF7;
  --header-scrolled: #78d2eb69;
  --shadow: #00000090;
  --text: #000;
  --second: #2A387F;
  --img-filter: brightness(100%) invert(0%);
  --purpel-text: #D202C8
}

.dark {
  --background: #6d6d6d;
  --dark-background: #171717;
  --footer: #000fb08a;
  --text: #fff;
  --header: #323A91;
  --header-scrolled: #000fb08a;
  --shadow: #b1b1b16a;
  --second: #1b2866;
  --img-filter: brightness(100%) invert(100%);
  --purpel-text: #e19cff;
}



@layer utilities {
  .fade-in {
    animation: fadeIn 0.7s ease forwards;
    opacity: 0; /* Start hidden */
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .dark-img {
    filter: var(--img-filter);
    cursor: pointer;
  }
  @media (min-width: 768px) {
    .clip-path-triangle-1 {
      clip-path: polygon(70% 0, 700% 170%, 0% 80%);
    }
  }
  @media (max-width: 768px) {
  .clip-path-triangle-1 {
    object-fit: cover;
    margin: 0;
    height: 30vh;
    position: absolute;
  }
  .georgia {
    font-family: Georgia, serif;
  }
}
}




/* Global styles */

body {
  transition: 200ms linear 50s;
}